@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://api.fontshare.com/v2/css?f[]=satoshi@400,500,700&display=swap");
@import "tailwindcss";

@theme {
  --color-primary: #1844b5;
  --color-secondary1: #4276fc;
  --color-secondary2: #6291e1;
  --color-secondary3: #d997de;
  --color-secondary4: #c0e2d5;
  --color-secondary5: #b3e9ce;

  --color-black: #1a1c28;
  --color-gray1: #626364;
  --color-gray2: #626364;
  --color-gray3: #f5f7ff;
  --color-gray4: #fefefe;
}

@theme {
  --font-dm: "DM Sans", sans-serif;
  --font-satoshi: "Satoshi", sans-serif;
}

@theme {
  --animate-zoom-in-out: zoom-in-out 2s ease-in-out infinite;

  @keyframes zoom-in-out {
    0%,
    100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }
}

@plugin "daisyui" {
  themes: light --default;
}

.PhoneInput .PhoneInputInput:focus {
  outline: none;
}

.dm-sans-font {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
